@font-face {
  font-family: 'gfont';
  src: url('./fonts/Poppins-Medium.ttf');
}
p{
  font-family:'gfont';
}
.header{
  width:'100%';
  background-color: #f0f0f0;
  display:flex;
}
html,body{
  padding:0rem;
  margin:0rem;
  width:100%;
  height:100%;
}